productin: &base
  cmp:
    email_from: example@example.com
    email_display_name: call-me-duty
    email_reply_to: noreply@example.com
    email_subject_suffix: ''
    webhook_timeout: 4

development:
  <<: *base

test:
  <<: *base

