productin: &base
  email:
    from: example@example.com
    display_name: call-me-duty
    reply_to: noreply@example.com
    subject_suffix: ''

  webhook_timeout: 4

  nexmo:
    api_key: abcdef01
    secret: 0123456789abcdef
  messagebird:
    access_key: FILLaSECRET01234567890123
    call_timeout: 10
    source: "420123456780"



development:
  <<: *base

test:
  <<: *base

