-# frozen_string_literal: true
- nested_route = @calendar.new_record? ? [@team, @calendar] : @calendar
= simple_form_for(nested_route) do |f|
  = f.error_notification

  .form-inputs
    = f.association :team

  .form-actions
    = f.button :submit
