.page-header
  = link_to team_service_integrations_path(@team, @service), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to team_integration_path(@team, @integration), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing integration

= render 'form'
