- team = @team.becomes(Team)
.page-header
  = link_to [team, :escalation_policies], class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to [team, @escalation_policy], class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-info-sign
    Show
  %h1 Editing escalation_policy

= render 'form'
